body {

    margin: 0px;

}

#Fperfil {

    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 40px;
    margin-left: 25px;

}

#aside1 {

    width: 200px;
    height: 650px;
    background-color: blue;
    margin-top: 50px;
    margin-left: 80px;

}

footer {

    background-color: rgb(185, 185, 185);
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    border-top: 1px solid black;

}

